<div class='jumbotron'>
  <h1>{{title}}</h1>
  <p>{{description}}</p>

  <button id='HomePageButton' type='button' class='btn btn-success'><span class='glyphicon glyphicon-home'></span> Home Page</button>
  <button id='SecondPageButton' type='button' class='btn btn-success' style='margin-left: 10px;'><span class='glyphicon glyphicon-chevron-left'></span> Second Page</button>
</div>
<h2>Data Request Results:</h2>
<div style='font-size: 14pt; margin: 50px;'>
  <b>Handle</b><br />
  {{handle}}<br />
  <br />
  <b>City</b><br />
  {{city}}<br />
  <br />
  <b>Favorite OS</b><br />
  {{favOs}}<br />
  <br />
  <b>Favorite Color</b><br />
  {{favColor}}<br />
  <br />
  <b>Favorite Band</b><br />
  {{favBand}}<br />
  <br />
  <b>Quote</b><br />
  {{quote}}<br />
  <br />
</div>
